<div th:fragment="footer" th:remove="tag">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/ie10-viewport-bug-workaround.js"></script>	
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables.bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/moment.min.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://cdn.polyfill.io/v2/polyfill.js"></script>
	<script src="/js/axios.min.js"></script>
	<script src="/js/vue.js"></script>
	<script src="/js/script.js"></script>	
</div>