<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('A book')" />
<body>
	<div th:replace="fragments/nav :: nav"></div>
	<div class="container" role="main" id="edit-book">
		<h1>{{ this.getBookId() == -1 ? "Add new book" : "Edit book" }}</h1>
		<form class="form-horizontal">				
			<div class="form-group">
				<label for="title" class="control-label col-md-3 req">Title</label>
				<div class="controls col-md-9">
					<input 	name="title" type="text" class="form-control"
						   	v-model="book.title" 
							v-on:input="$v.book.title.$touch"
   							v-bind:class="{error: $v.book.title.$error, valid: !$v.book.title.$invalid}"/>
				</div>
			</div>	
			<div class="form-group">
				<div class="col-md-3"></div>
				<div class="col-md-9 errors">
					<span class="form-group__message" v-if="$v.book.isbn.$dirty &amp;&amp; !$v.book.title.required">Field is required</span>	
				</div>
			</div>
			<div class="form-group">
				<label for="author" class="control-label col-md-3 req">Author</label>
				<div class="controls col-md-3">
					<select class="form-control" name="author"
							v-model="book.author"
							v-on:input="$v.book.author.$touch"
   							v-bind:class="{error: $v.book.author.$error, valid: !$v.book.author.$invalid}">
						<option selected="true" disabled="true"></option>
		                <option v-for="auth in authors" v-bind:value="auth">
		                    {{ auth.name }}
		                </option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3"></div>
				<div class="col-md-9 errors">
					<span class="form-group__message" v-if="$v.book.isbn.$dirty &amp;&amp; !$v.book.author.required">Field is required</span>
				</div>
			</div>
			<div class="form-group">
				<label for="isbn" class="control-label col-md-3 req">ISBN</label>
				<div class="controls col-md-9">
					<input 	name="isbn" type="text" class="form-control"
							v-model="book.isbn"
							v-on:input="$v.book.isbn.$touch"
   							v-bind:class="{error: $v.book.isbn.$error, valid: !$v.book.isbn.$invalid}" />
				</div>
			</div>	
			<div class="form-group">
				<div class="col-md-3"></div>
				<div class="col-md-9 errors">
					<span class="form-group__message" v-if="$v.book.isbn.$dirty &amp;&amp; !$v.book.isbn.required">Field is required</span>
					<span class="form-group__message" v-if="$v.book.isbn.$dirty &amp;&amp; !$v.book.isbn.numeric">Only numeric numbers are allowed.</span>
					<span class="form-group__message" v-if="$v.book.isbn.$dirty &amp;&amp; !$v.book.isbn.minLength">ISBN must have at least {{$v.book.isbn.$params.minLength.min}} characters.</span>
					<span class="form-group__message" v-if="$v.book.isbn.$dirty &amp;&amp; !$v.book.isbn.maxLength">ISBN must have at most {{$v.book.isbn.$params.maxLength.max}} characters.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="published" class="control-label col-md-3 req">Published</label>
				<div class="controls col-md-9">
					<input 	name="published" type="number" class="form-control"
							v-model="book.published" 
							v-on:input="$v.book.published.$touch"
   							v-bind:class="{error: $v.book.published.$error, valid: !$v.book.published.$invalid}" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3"></div>
				<div class="col-md-9 errors">
					<span class="form-group__message" v-if="$v.book.isbn.$dirty &amp;&amp; !$v.book.published.required">Field is required</span>
					<span class="form-group__message" v-if="$v.book.isbn.$dirty &amp;&amp; !$v.book.published.numeric">Only numeric numbers are allowed.</span>	
				</div>
			</div>
			<div class="form-group">
				<label for="publisher" class="control-label col-md-3 req">Publisher</label>
				<div class="controls col-md-3">
					<select class="form-control" name="publisher"
							v-on:input="$v.book.publisher.$touch"
   							v-bind:class="{error: $v.book.publisher.$error, valid: !$v.book.publisher.$invalid}"
							v-model="book.publisher" >
						<option selected="true" disabled="true"></option>
		                <option v-for="pub in publishers" v-bind:value="pub">
		                    {{ pub.name }}
		                </option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3"></div>
				<div class="col-md-9 errors">
					<span class="form-group__message" v-if="$v.book.isbn.$dirty &amp;&amp; !$v.book.publisher.required">Field is required</span>
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="control-label col-md-3">Description</label>
				<div class="controls col-md-9">
					<textarea v-model="book.description" name="description" class="form-control"></textarea>
				</div>
			</div>	
			<div class="form-group topspace">
				<div class="col-md-12 text-right">
					<button type="button" v-on:click="saveBook" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
	</div>
	

</body>
<div th:replace="fragments/footer :: footer"></div>

<script>
	/*<![CDATA[*/
		
	//validation things
	Vue.use(window.vuelidate.default);
	var validationMixin = window.vuelidate.validationMixin;
	var required = window.validators.required;
	var minLength = window.validators.minLength;
	var maxLength = window.validators.maxLength;
	var numeric = window.validators.numeric;
	var alphaNum = window.validators.alphaNum;
		
    var app = new Vue({
        el: '#edit-book',
        data : {
        	authors : [],
        	publishers : [],
        	book : {
        		title : null,
        		author : null,
        		isbn : null,
        		publisher : null,
        		published : null,
        		description : null        		
        	}
        },
        validations: {
        	book: {
        		title: { required: required},
        		author: { required: required },
        		isbn: { required: required, minLength: minLength(10), maxLength: maxLength(13), numeric: numeric},
        		publisher: { required: required },
        		published: { required: required, numeric: numeric }
       	 	}
        },
        mounted: function (){
   			this.$nextTick(function() {
   		      	this.getAuthors().then(function (response) {
		            this.authors = response.data;
	   		    }.bind(this));
   		    	 this.getPublishers().then(function (response) {
		            this.publishers = response.data;
	   		    }.bind(this))
	   		    if(this.getBookId() != -1) {
	   		    	this.getData()
	   		    	.then(function (response) {
			            this.book = response.data;
		   		    }.bind(this))
		   		    .then(function () {
		   		    	setDisplay('#edit-book', 'block');
		   		    })
	   		    } else {
	   		    	setDisplay('#edit-book', 'block'); // set display (it doesn't show up by default)
	   		    }
   		    })
        },
        methods: {
        	getData: function () {
                return axios.get("/api/books/" + this.getBookId());
          	},
        	getAuthors: function () {
                return axios.get("/api/authors/");
          	},
          	getPublishers: function () {
                return axios.get("/api/publishers/");
          	},
          	getBookId: function (){
                var splitted = window.location.href.split('/');
                var s = splitted[splitted.length-1];
                return (s == "bookform" ? -1 : s);
            },
          	saveBook: function () {
          		this.$v.book.$touch();

                if(this.$v.book.$error) {
                  return;
                }
            	if(this.getBookId() == -1) {
            		axios.post('/api/books', 
                        	this.book,
                        	{ headers: {
                        		'Content-type': 'application/json',
                        	}
                  		}).then(function (response) {
                        	redirect('/books/'+ response.data.id);
                    });
            	} else {
            		axios.put('/api/books/' + this.getBookId(), 
                    	this.book,
                    	{ headers: {
                        	'Content-type': 'application/json',
                        }
                  	}).then(function(response) {
                       	redirect('/books/'+ response.data.id);
                    });
            	}
          	}
        }
    });
    /*]]>*/
</script>
</html>